= simple_form_for @user do |f|
  = f.error_notification
  = f.input :email
  = f.input :notification_type, collection: User.notification_types.map {|k, v| [k.humanize, k] }, label: 'Notify me by'
  = f.input :phone, as: :tel
  = f.input :password, as: :password

  = f.button :submit, 'Sign up'
