= content_for :title, 'New reading plan'

= render 'shared/application/blue_box'

.container.mb
  = render 'shared/flash'

  .row
    %h1 Choose Books

    = simple_form_for @schedule do |f|
      - BookCategory.all.each do |category|
        %h3
          = category.name + ' /'
          %a{:href => '#', :class => 'check_all', :id => "book_category-#{category.id}"} Check all
        .spacing{:class => "book_category-#{category.id}"}
          = f.collection_check_boxes :book_ids, @books.where(book_category_id: category.id), :id, :name

      = f.button :submit, "Next: Choose Dates", class: "my-button"

:css
  span {
    display: block;
  }

  .spacing {
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
  }

  label {
    margin-left: 10px;
  }
