= content_for :title, 'New reading plan'

= render 'shared/application/blue_box'

.container.mb
  .row
    %h1 Choose Books

    = simple_form_for @schedule do |f|
      %h3
        New testament /
        %a{:href => '#', :class => 'check_all', :id => 'new'} Check all
      .spacing.new
        = f.collection_check_boxes :book_ids, @books.where(book_type: Book.book_types[:new_testament]), :id, :name

      %h3
        Old testament /
        %a{:href => '#', :class => 'check_all', :id => 'old'} Check all
      .spacing.old
        = f.collection_check_boxes :book_ids, @books.where(book_type: Book.book_types[:old_testament]), :id, :name

      - if @books.where(book_type: Book.book_types[:others]).any?
        %h3
          Other books /
          %a{:href => '#', :class => 'check_all', :id => 'others'} Check all
        .spacing.others
          = f.collection_check_boxes :book_ids, @books.where(book_type: Book.book_types[:others]), :id, :name

      = f.button :submit, "Next: Choose Dates", class: "my-button"

:css
  span {
    display: block;
  }

  .spacing {
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
  }

  label {
    margin-left: 10px;
  }
