<!DOCTYPE html>
<html>
<head>
  <title>Bible</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- if current_user %>
  <%= link_to 'Logout', user_session_path(current_user_session), method: 'DELETE' %>
<% else %>
  <%= link_to 'Login', login_path %>
  <br>
  <%= link_to 'Sign up', signup_path %>
<% end %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
